nav {
  height: 60px;
  padding: 0 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: var(--card-bg);
  width: 100%;
  max-width: 380px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border: 1px solid #248bda2f;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    svg {
      fill: var(--text-main);
    }

    li {
      a {
        text-decoration: none;
        color: var(--text-main);
        font-size: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        &.active,
        &.active-link {
          color: #248bda;

          svg {
            stroke: #248bda;
            fill: #248bda;
            width: 24px;
            height: 24px;
            transition: all 0.3s ease;
            .lucide-settings-icon {
              circle {
                stroke: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}