* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* Telegram matn rangi */
  color: var(--tg-text-color, #FFFFFF); 
}

html, body {
  touch-action: manipulation;
  overscroll-behavior: none;
}

body {
  /* Telegram fon rangi */
  background: var(--tg-bg-color, #232E3C); 
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /* Telegram secondary fon rangi (biroz qorong'uroq qism uchun) */
  background-color: var(--tg-secondary-bg-color, #0b1a29); 
  border-radius: 10px;
}

#root {
  max-width: 380px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column; 
  overflow: hidden;
  position: relative;
  padding-bottom: 60px;
  /* Root foni ham telegram foniga mos bo'lishi uchun */
  background: var(--tg-bg-color, #232E3C);
}

/* Chrome, Safari, Edge, Opera uchun */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox uchun */
input[type=number] {
  -moz-appearance: textfield;
}