/* LIGHT MODE RANGALARI (Default) */
:root[data-theme='light'] {
  --bg-main: #f1f1f1;
  --text-main: #000000;
  --card-bg: #FFFFFF;
  --btn-bg: #ffffff;
  --btn-bg-second: #248bda;
  --btn-txt-second: #ffffff;
  --hint: #999999;
  --input-bg: #ffffff;
  --input-border: #e5e7eb;
  --input-btn-bg: #4cb2ff;
  --gift-bg: rgba(226, 226, 226, 0.678);
  --ref-btn-bg: #dddddd;
}

/* DARK MODE RANGALARI */
:root[data-theme='dark'] {
  --bg-main: #232E3C;
  --text-main: #FFFFFF;
  --card-bg: #1c1c1e;
  --btn-bg: #248BDA;
  --hint: #666666;
  --btn-bg-second: #248bda;
  --btn-txt-second: #ffffff;
  --input-bg: #1c1c1e;
  --input-border: #666666;
  --input-btn-bg: #1c2733;
  --gift-bg: rgba(255, 255, 255, 0.05);
  --ref-btn-bg: #1c2733;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* Telegram matn rangi */
  color: var(--text-main); 
}

html, body {
  touch-action: manipulation;
  overscroll-behavior: none;
}

body {
  /* Telegram fon rangi */
  background: var(--bg-main);
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /* Telegram secondary fon rangi (biroz qorong'uroq qism uchun) */
  background-color: var(--card-bg, #0b1a29); 
  border-radius: 10px;
}

#root {
  max-width: 380px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column; 
  overflow: hidden;
  position: relative;
  padding-bottom: 60px;
  /* Root foni ham telegram foniga mos bo'lishi uchun */
  background: var(--bg-main);
}

/* Chrome, Safari, Edge, Opera uchun */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox uchun */
input[type=number] {
  appearance: textfield;
}